<!-- moderator.html-->

{% extends "base.html" %}
{% block title %}Moderator{% endblock %}
{% block body %}

<div class="jumbotron" style="background: none">
    <form method="POST">
        <!-- <input name="text">
        <input type="submit"> -->
        <label for="num_players">Select number of players:</label>
        <input type="number" id="num_players" name="num_players" min="7" max="100">

        <p class="lead">Select your characters:</p>

        {% for special_char in special_chars %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id={{special_char}} name={{special_char}}>
                <label class="form-check-label" for={{special_char}}>{{special_char}}</label>
            </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary btn-lg" value="Create Session"></input>
    </form>
</div>
{% endblock %}
