<!-- selected_player.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
    <form method="POST">
        {% if error is sameas true %}
        <h1 align="center">{{err_msg}}</h2>
        {% else %}
            <h2 align="center">Your role is:</h2>
            <h1 align="center">{{role}}</h2>
            <h3 align="center">Your name is: {{alias}}</h3>
            <h3 align="center">You are: {{profession}}</h3>
        {% endif %}
    </form>
</div>
{% endblock %}
