<!-- session.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  {% set reload = script_root ~ "/reload" %}
  <h2 align="center">Session created!</h2>
  <h3>Session info:</h3>

  <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in session_dict.iteritems() %}
          {% if 'player_info' not in key %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3>Player info:</h3>
    <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Is alive?</th>
          </tr>
        </thead>
        <tbody>
          {% for player_info in session_dict['player_info'] %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ player_info["name"] }}</td>
                <td>{{ player_info["role"] }}</td>
                <td>{{ player_info["is_alive"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  
  <a class="btn btn-primary btn-lg" href="{{reload}}" role="button">Reload</a>
</div>
{% endblock %}
